




<div class="footer d-flex  align-items-center  ">
    <div class="row  m-auto  d-flex  text-white  justify-content-between " style="width: 85%;">

        <div class="col-md-4  d-none d-lg-flex ">
            <div class="col-md-5">
                <ul>
                    <h3>3ayz doctor</h3>

                   <p>Careers</p>
                   <p>Partners</p>
                   <p>Book a doctor</p>
                   <p>Login as Doctor</p>
                  
                </ul>
            </div>
            <div class="col-md-6">
                <ul>
                    <h3>Services</h3>
                   <p>Terms of service</p>
                   <p>Privacy Terms</p>
                   <p>Contact Us</p>
                   
                </ul>
            </div>
        </div>
        <div class="col-md-7   ">
            <h3 class="d-none d-lg-flex">Specializations of doctors</h3>
            <div class="col-md-12 d-flex d-none d-lg-flex  ">
                <div class="col-md-2">
                    <ul>
    
                        <a>3ayz Doctor Allergy and Immunology (Sensitivity and Immunity) 3ayz Doctor</a>
                        <a>3ayz Doctor Andrology and Male Infertility</a>
                        <a>3ayz Doctor Audiometry and balance</a>
                        <a>3ayz Doctor Blood vessels</a>
                        <a>3ayz Doctor Cardiology and Thoracic Surgery (Heart & Chest)</a>
                        <a>3ayz Doctor Cardiology and Vascular Disease (Heart)</a>
                     
                    </ul>
                </div>
    
    
                <div class="col-md-2">
                    <ul>
    
                        <a>3ayz Doctor Chest and Respiratory</a>
                        <a>3ayz Doctor Dentistry (Teeth)</a>
                        <a>3ayz Doctor Dermatology (Skin)</a>
                        <a>3ayz Doctor Diabetes and Endocrinology</a>
                        <a>3ayz Doctor Diagnostic Radiology (Scan Centers)</a>
                        <a>3ayz Doctor Dietitian and Nutrition</a>
                        <a>3ayz Doctor Ear, Nose and Throat</a>
                        <a>3ayz Doctor Gastroenterology and Endoscopy</a>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul>
    
                        <a>3ayz Doctor General Surgery</a>
                        <a>3ayz Doctor Gynaecology and Infertility</a>
                        <a>3ayz Doctor Hematology</a>
                        <a>3ayz Doctor Hepatology (Liver Doctor)</a>
                        <a>3ayz Doctor Internal Medicine</a>
                        <a>3ayz Doctor Internal Medicine and fever</a>
                        <a>3ayz Doctor IVF and Infertility</a>
                        <a>3ayz Doctor Laboratories</a>
                        <a>3ayz Doctor Nephrology</a>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul>
    
                        <a>3ayz Doctor Neurosurgery (Brain & Nerves Surgery)</a>
                        <a>3ayz Doctor Obesity and Laparoscopic Surgery</a>
                        <a>3ayz Doctor Oncology (Tumor)</a>
                        <a>3ayz Doctor Oncology Surgery (Tumor Surgery)</a>
                        <a>3ayz Doctor Ophthalmology (Eyes)</a>
                        <a>3ayz Doctor Orthopedic surgery (Bones)</a>
                        <a>3ayz Doctor Pain Management</a>
                        <a>3ayz Doctor Pediatric Surgery</a>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul>
    
                        <a>3ayz Doctor Pediatrics and New Born (Child)</a>
                        <a>3ayz Doctor Phoniatrics (Speech)</a>
                        <a>3ayz Doctor Physiotherapy and Sport Injuries</a>
                        <a>3ayz Doctor Physiotherapy and Sport Injuries</a>
                        <a>3ayz Doctor Plastic Surgery</a>
                        <a>3ayz Doctor Psychiatry (Mental, Emotional or Behavioral Disorders)</a>
                        <a>3ayz Doctor Radiology Centers</a>
                       
                    </ul>
                </div>         
                <div class="col-md-2">
                    <ul>
    
                        <a>3ayz Doctor Rheumatology</a>
                        <a>3ayz Doctor Surgery on tumors and breast tumors</a>
                        <a>3ayz Doctor Urology (Urinary System)</a>
                        <a>3ayz Doctor Vascular Surgery (Arteries and Vein Surgery)</a>
                        <a>3ayz Doctor التغذيه العلاجيه للسمنه والنحافه</a>
                        <a>3ayz Doctor غدد صماء</a>
                        <a>3ayz Doctor نفسي</a>
                      
                    </ul>
                </div>
            </div>
           

        </div>
<div class="w-50 m-auto text-center">

    <img class="img-fluid text-center m-auto mt-5 " style="width: 350px;" src="../../assets/WhitearabicLogo (1).png" alt="Logo">
    <p class="text-center text-white">© Copyright 2024. All Rights Reserved</p>
</div>
    </div>
</div>