

  <div class="text-center mt-3 d-sm-block d-lg-none">
    <p class="gap-1">
      <button class=" w-50 m-auto  px-3 py-2 border-0" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample1" aria-expanded="false" aria-controls="multiCollapseExample1">Services</button>
    </p>
    <div class="collapse" id="multiCollapseExample1">
      <div class="card card-body">
        <ul>
            
           <p>Terms of service</p>
           <p>Privacy Terms</p>
           <p>Contact Us</p>
           
        </ul>  </div>
    </div>
  </div>
  
  <div class="text-center mt-3 d-sm-block d-lg-none">
    <p class="gap-1">
      <button class="w-50 m-auto px-3 py-2 border-0" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">3ayz doctor</button>
    </p>
    <div class="collapse" id="multiCollapseExample2">
      <div class="card card-body">
        <ul>
            <h3></h3>

           <p>Careers</p>
           <p>Partners</p>
           <p>Book a doctor</p>
           <p>Login as Doctor</p>
          
        </ul>  </div>
    </div>
  </div>
  