<div class="card mt-5  border-0 m-auto  d-flex rounded-4" style="width: 90%; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);">
    <div class="card-body p-3">
        <h5 class="card-title">Card title</h5>
        <button class="btn btn-primary">Offer</button>
        <p class="card-text">Doctor Name.</p>
        <p class="card-text">Dental implant consultant</p>
        <app-star-rating [rating]="4"></app-star-rating>
        <p class="card-text">overall rating from 73 visitors</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    <img src="../../assets/ImgPhoto22.jpeg" class="card-img-top" alt="...">
</div>

